# Unprivileged runtime host UID/GID (check with: id <user>)
APP_UID=2000
APP_GID=2000

# Container image versions
# POSTGRES_VERSION=18-alpine
# VALKEY_VERSION=9-alpine
# STALWART_VERSION=latest
# STALWART_CLI_VERSION=latest
